@model AmberAndGraing.Models.RecipeDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecipeDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentWheat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentWheat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentCorn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentCorn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarrelAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarrelAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarrelMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarrelMaterial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Creator)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creator)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
